@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  width: 141px;
  height: 59px;
  flex-shrink: 0;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.menu-item {
  margin-left: 1rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;

}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background-color: #333;
  transition: transform 0.3s;
  padding-right: 6px;
}

.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-35%, -50%);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(45deg) translate(-50%, -30%);
}

@media (max-width: 768px) {
  .navbar{
    background-color: #ffffff;
    height: 50px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);

  }
  .logo.hide .Logo-Image {
    display: none;
  }

  .logo{
    background-color: rgb(250, 249, 249);
    margin-bottom: 20px;
  }
  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(46, 44, 44, 0.9);
    backdrop-filter: blur(10px);
    padding: 1rem;
    
  }
  
  .menu.mobile-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    
   /* background-color: #ffffff; */
 /* Change the color and opacity as desired */
    background-color: aqua;
    z-index: 9999;
    bottom: 0px;
  }
  .menu{
    padding-top: 4rem;
  }
  .menu-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--default, #16205F);
    font-size: 2rem ;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 10px 25px 10px;
  }
  .menu-butn{
    width: 36px;
    height: 36px;
    padding-bottom: 1rem;

  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 20px 0px;

  }
.Logo-Image{
  width: 166px;
 height: auto;
}

}
